Checks: >
  -*,
  bugprone-*,
  performance-*,
  cppcoreguidelines-*,
  modernize-*,
  readability-*,
  -readability-magic-numbers,
  -cppcoreguidelines-avoid-magic-numbers,
  -readability-identifier-length,
  -modernize-use-trailing-return-type
WarningsAsErrors: ''
HeaderFilterRegex: '(include|io/include|reference/include|testkit/include)/dhft/.*'
